<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>구름 건강원</title>
    <script>
        $(document).ready(function () {
	      ratechange();
          showOrder();});

        function ratechange() {
            $('#rates').empty()
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/rate",
                data: {},
                success: function (response) {
                    let rate = response['rate']
                    let date = response['date']
                    let temp_html = `<P><span style="color: blue">원-달러 환율 : ${rate}원 (${date} 기준)</span> </P>`
                    $('#rates').append(temp_html)
                }
            })
        }

        function makeOrder() {
            let name = $('#name').val()
            let count = $('#count').val()
            let address = $('#address').val()
            let phone = $('#phone').val()

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give:name, count_give:count, address_give:address, phone_give:phone},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

        function showOrder() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let orders = response['all_orders']
                    for (let i = 0; i < orders.length; i++) {
                        let name = orders[i]['name']
                        let count = orders[i]['count']
                        let address = orders[i]['address']
                        let phone = orders[i]['phone']

                        let temp_html = `<tr>
                                            <td>${name}</td>
                                            <td>${count}</td>
                                            <td>${address}</td>
                                            <td>${phone}</td>
                                        </tr>`
                        $('#orders-box').append(temp_html)
                    }
                }
            })
        }
    </script>


    <style>
        .products {
        /* background-color: green; */

        width: 700px;
        height: 350px;

        background-image: url('https://my-nutri.co.kr/wp-content/uploads/2019/11/022.-%EC%98%A4%EB%A9%94%EA%B0%803-%ED%9A%A8%EB%8A%A5.jpg');
        background-size: cover;
        background-position: center;

        margin: 30px auto 10px auto;
        border: 1px dashed gray;
        border-radius: 5px;
        }

        .titles {
        white-space: nowrap;
        }

        .information {
        /* background-color: lightgray; */
        width: 700px;
        height: 350px;

        margin: auto;
        padding: 20px;
        }

        .mybtn {
        margin: 30px auto 30px auto;
        padding: 20px;
        display: block;
        }
    </style>

</head>

<body>
    <div class="products"></div>

    <div>
        <div class="align-items-center information">
            <div class = "titles">
                <P><strong><span style="font-size: 150%">갓 잡은 고등어로 만든 rTG OMEGA 3&nbsp&nbsp</span></strong>
                    <span style="font-size: 90%">가격:25,000원</span></P>
                <P class = "ratechange" id = "rates"><span style="color: blue">원-달러 환율 : 1100.00원 (2021년 1월 1일 기준) </span></P>
            </div>

            <p>[EPA 및 DHA 함유 유지] 혈중 중성지질 개선, 형행 개선, 건조한 눈을 개선하여 눈 건강에 도움을 줄 수 있으니
                열심히 챙겨먹어서 코딩하는 동안 눈과 혈관 건강을 지킬 수 있습니다. 기억력 개선에도 도움을 줄 수 있습니다.
                건강 챙기고 목표 달성 할 때 까지 화이팅 합시다! 힘내자!</p>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">주문자 이름</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">주문자 이름</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="이름을 입력하세요">
                </div>
            </div><p></p>  <!-- 주문자 이름 -->
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">수량</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">수량</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="수량">
                </div>
            </div><p></p>  <!-- 수량 -->
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">주소</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">주소</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="상세 주소를 입력하세요">
                </div>
            </div><p></p>  <!-- 주소 -->
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">전화 번호</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">전화 번호</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="000-0000-0000">
                </div>
            </div><p></p>  <!-- 전화번호 -->

        </div>
    </div>

        <div class = "mybtn">
        <button onclick="makeOrder()" type="button" class="btn btn-primary">주문하기</button>
        <button onclick="makeOrder()" type="button" class="btn btn-success">[N] 네이버 페이로 주문하기</button>
        </div>

        <div class="reviews">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">주문자 이름</th>
                    <th scope="col">주문 수량</th>
                    <th scope="col">주소</th>
                    <th scope="col">전화번호</th>
                </tr>
                </thead>
                <tbody id="orders-box">
                <tr>
                    <td>김주문</td>
                    <td>100</td>
                    <td>서울시 부자동</td>
                    <td>010-7777-7777</td>
                </tr>
                </tbody>
            </table>
        </div>
</body>

</html>