<!-- flash를 임포트하여 쓴 경고문 메세지, messages 변수에 받음 -->
<!-- messages 변수는 list 형태 이므로, 인덱싱을 해서 제일 마지막 메세지를 불러옴 -->
{% with messages = get_flashed_messages()%}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}
<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://hanghae99.spartacodingclub.kr/static/images/favicon.ico">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/join.css">
    <title>항해99 항해사들의 결심일지</title>
</head>
<body>
<section class="top">
        <img src='../static/킹갓구름님과킹갓감자.png' alt="">
</section>
<section class="bottom">
        <form name="form" action="/join" method="POST">
            <h1>회원가입</h1>
            <input type="text" name="name" placeholder="이름">
            <input type="email" name="email" placeholder="이메일 (아이디)">
            <input type="password" name="pass1" placeholder="비밀번호">
            <input type="password" name="pass2" placeholder="비밀번호 확인">
            <input type="submit" value="가입하기">
        </form>
</section>
</body>