<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="https://hanghae99.spartacodingclub.kr/static/images/favicon.ico">
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/login.css">
        <title>항해99 항해사들의 결심일지</title>
</head>
<body>
<section class="top">
        <img src='../static/킹갓구름님과킹갓감자.png' alt="">
</section>
<section class="bottom">
        <form name="form" action="/login" method="POST">
            <input type="email" name="email" placeholder="이메일 (아이디)">
            <input type="password" name="pass1" placeholder="비밀번호">
            <input type="submit" value="로그인하기">
            <a href="/join">회원가입</a>
        </form>
</section>
</body>
</html>