<html>
    <head>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://hanghae99.spartacodingclub.kr/static/images/favicon.ico">
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/view.css">
        <title>항해99 항해사들의 결심일지</title>
    </head>
    <body>
        <section class="top">
            <img src='../static/킹갓구름님과킹갓감자.png' alt="">
        </section>
        <section class="bottom">
            <article class='view_wrap'>
                <ul>
                    <li class='list_name'>
                        <p><strong>{{result.name}}</strong> 항해사님의 결심</p>
                    </li>
                    <li class='list_date'>
                        작성일 : {{result.pubdate|format_datetime}}
                    </li>
                    <li class='list_title'>
                        <h1> {{result.title}}</h1>
                    </li>
                    <li class='list_desc'>
                        <p> {{result.contents}}</p>
                    </li>
                    <li class='list_btn'>
                        <a href="{{url_for('board_lists', page=page, search=search, keyword=keyword)}}" class='btn'>글 목록</a>
                        {% if session["id"] == result.writer_id %}
                            <a href="{{url_for('board_delete', idx=result.id)}}" class='btn'>글삭제</a>
                            <a href="{{url_for('board_edit', idx=result.id)}}" class='btn'>글수정</a>
                        {% endif %}
                    </li>
                </ul>
            </article>
        </section>
    </body>
</html>