<!DOCTYPE html>
<html lang="en">
<script>
    /* 게시글 검색기능 search() 함수 구현 */
    function search() {
        let v_search = document.getElementById("search").value;
        let v_keyword = document.getElementById("keyword").value;

        if (v_search == "" || v_keyword == "") {
            alert('빈칸을 입력해주세요')
            return false;
        } else {
            self.location.href = "{{url_for('board_lists')}}?search=" + v_search + "&keyword=" + v_keyword;
        }
    }
</script>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://hanghae99.spartacodingclub.kr/static/images/favicon.ico">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/list.css">
    <title>항해99 항해사들의 결심일지</title>
    <script defer>
            function countView(name) {

            const data = {
                view_name : name
            }
            const option = {
                method: "POST",
                body: JSON.stringify(data), //ajax에서 data부분
                headers: {
                    "Content-Type": "application/json"
                }, //전송되는 콘텐츠의 형식 이런느낌?
                //ajax나 form태그에서는 application/x-www-form-urlencoded 타입이라고함
                credentials: "same-origin"
            }
            fetch("/viewcount",option)//
            .then(item=>console.log(item))
        }
    </script>
</head>
<!-- 로그인 여부를 확인하는 jinja -->
<body>

<section class="top">
    <h1 style="color:white;padding: 30px;font-size: 30px;">항해 29조 : 모든 항해사들의 성공을 응원하는 결심일지</h1>
        <img src='../static/킹갓구름님과킹갓감자.png' alt="">
</section>
<section class="bottom">

    <article>
        <p class='hanghae'>앞으로 99일간 긴 여행을 떠나는 5기 항해사  "<span>{{session["name"]}}</span>"님의 결심을 이 곳에 적어주세요 !</p>
        <p class='hi'>오늘도 힘차게 순항 중이신 {{session["name"]}}님 로그인을 환영합니다!</p>
        <div>
            <table>
                <colgroup>
                    <col width="10%">
                    <col width="*">
                    <col width="10%">
                    <col width="20%">
                    <col width="120">
            </colgroup>
                <thead>
                <tr>
                    <td>번호</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
                </thead>
                <tbody id="borad_list">
                {% for data in datas %}
                <tr>
                    <td>{{loop.index + ((page - 1) * limit)}}</td>
                    <td><a href="{{ url_for('board_view', idx=data._id) }}" onclick="countView('{{data._id}}')"></a>{{data.title}}
                        {% if comments|length %}
                        <span>[{{comments|length}}]</span>
                        {% endif %}
                    </td>
                    <td>{{data.name}}</td>
                    <td>{{data.pubdate|format_datetime}}</td>
                    <td>{{data.view}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="input_box">
            <li>
                <a href="/write" class="btn">결심 쓰기</a>
            </li>
            <li>
                <select name="search" id="search" class='btn nonebtn'>
                    <option value="0" {% if search=='' or 0 %} selected {% endif %}>제목</option>
                    <option value="1" {% if search== 1 %} selected {% endif %}>작성자</option>
                </select>
                <input class='btn nonebtn' type="text" name="keyword" id="keyword" {% if keyword !="" %} value={{keyword}} {% endif %}>
                <button class='btn' onclick="search()">검색</button>
            </li>
        </ul>
    </article>
</section>
    
</body>
</html>