.bottom form {
  width: 19%;
  text-align: center;
  border-radius: 15px;
  margin-top: -50px;
}
.bottom form > * {
  display: block;
  width: 100%;
}
.bottom form > * {
  padding: 20px;
  font-size: 25px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  border: none;
  font-family: "Gamja Flower", cursive;
}
.bottom form > input:nth-child(3) {
  cursor: pointer;
  background: rgb(229, 250, 230);
  transition: all 0.4s;
}
.bottom form > input:nth-child(3):hover {
  background: #d3fcd4fc;
}
.bottom form > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  background: rgba(176, 224, 230, 0.4);
  transition: all 0.4s;
}
.bottom form > a:hover {
  background: rgba(176, 224, 230, 0.8);
}
