<!-- edit.html -->

<html>
    <body>
        <table>
            <form name="form" method="POST" action="/edit?idx={{data._id}}">
            <thead>
                <caption>글수정</caption>
            </thead>
            <tbody>
                <tr>
                    <td>작성자</td>
                    <td><input type="text" name="name" value="{{session.get('name')}}" readonly></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="title" value={{data.title}}></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><textarea name="contents">{{data.contents}}</textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="수정하기"></td>
                </tr>
            </tbody>
            </form>
        </table>
    </body>
</html>