<script>
    /* 게시글 검색기능 search() 함수 구현 */
    function search() {
        let v_search = document.getElementById("search").value;
        let v_keyword = document.getElementById("keyword").value;

        if (v_search == "" || v_keyword == "") {
            return false;
        } else {
            self.location.href = "{{url_for('board_lists')}}?search=" + v_search + "&keyword=" + v_keyword ;
        }
    }
</script>

<!-- 로그인 여부를 확인하는 jinja -->
좋은하루 되세요, {{session["name"]}}님 로그인을 환영합니다!<br><br>

<table>
    <thead>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>조회수</td>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <td>{{loop.index + ((page - 1) * limit)}}</td>
            <td><a href="{{ url_for('board_view', idx=data._id) }}">{{data.title}}</a></td>
            <td>{{data.name}}</td>
            <td>{{data.pubdate|format_datetime}}</td>
            <td>{{data.view}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    <select name = "search" id = "search">
        <option value=""  {% if search == '' or search == -1 %} selected {% endif %}> 검색</option>
        <option value="0" {% if search == 0 %} selected {% endif %}>제목</option>
        <option value="1" {% if search == 1 %} selected {% endif %}>내용</option>
        <option value="2" {% if search == 2 %} selected {% endif %}>제목+내용</option>
        <option value="3" {% if search == 3 %} selected {% endif %}>작성자</option>
    </select>

    <input type="text" name="keyword" id="keyword" {% if keyword != "" %} value={{keyword}} {% endif %}>
    <input type="button" value="검색" onclick="search()">


<a href="/write">글쓰기</a>

<style>
    a {
        text-decoration: none;
        color: #666;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    article {
        width: 70%;
    }

    #borad_list > tr {
        position: relative;
    }

    #borad_list > tr a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #borad_list > tr a:hover {
        background: rgba(0, 0, 0, .4);
    }

    table {
        width: 100%;
        font-size: 20px;
    }

    td {
        text-align: center;
    }

    .input_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    li {
        list-style: none;
    }
</style>
